:root {
	/* colors used */
	--LEAF_GREEN: rgb(115, 213, 124);
	--LEAF_GREEN_LIGHTER: rgb(145, 243, 154);
	--LEAF_GREEN_DARKER: rgb(95, 193, 104);
	--SPACE_GREY: rgb(50, 50, 50);
	--SPACE_GREY_LIGHTER: rgb(80, 80, 80);
	--SPACE_GREY_LIGHTERER: rgb(100, 100, 100);
	--DEEP_GREY: rgb(20, 20, 20);
	--BEIGE: rgb(255, 214, 153);
	--CORNFLOWERBLUE_DARKER: rgb(80, 129, 217);
	--CORNFLOWERBLUE_LIGHTER: rgb(120, 169, 255);
	--CORNSILK_LIGHTER: rgb(195, 188, 160);
	--CORNSILK_DARKER: rgb(235, 228, 200);
	--CORNSILK_DARKERER: rgb(215, 208, 180);

	--tile-bg-color: CornFlowerBlue;
	--main-bg-color: Bisque;
	--main-txt-color: black;
	--footer-bg-color: Cornsilk;
	--header-bg-color: Cornsilk;
}

/* ----------
GENERAL BALISES
---------- */

body {
	background-color: var(--main-bg-color);
}

.navbar {
	font-family: 'Do Hyeon', sans-serif;
}

.navbar-brand {
	font-size: 1.75em;
}

.footer {
	font-family: 'Do Hyeon', sans-serif;
}