:root {
	/* colors used */
	--LEAF_GREEN: rgb(115, 213, 124);
	--LEAF_GREEN_LIGHTER: rgb(145, 243, 154);
	--LEAF_GREEN_DARKER: rgb(95, 193, 104);
	--SPACE_GREY: rgb(50, 50, 50);
	--SPACE_GREY_LIGHTER: rgb(80, 80, 80);
	--SPACE_GREY_LIGHTERER: rgb(100, 100, 100);
	--DEEP_GREY: rgb(20, 20, 20);

	--tile-bg-color: var(--SPACE_GREY_LIGHTER);
	--main-bg-color: var(--SPACE_GREY);
	--main-txt-color: black;
}

body {
	background: var(--main-bg-color);
	font-family: 'Sen', sans-serif;
	font-size: 22px;
	color: var(--main-txt-color);
}

header {
	background: var(--LEAF_GREEN);
}

form td {
	color: white;
}

/* ----------
TITLE
---------- */
#website_title:visited, #website_title:link {
	font-family: 'Libre Barcode 39 Text', 'Do Hyeon', sans-serif;
	font-size: 50px;
	padding-left: 10px;
	color: var(--SPACE_GREY);
	text-decoration: none;
}

/* ----------
SUBTITLE
---------- */
#subtitle {
	font-size: 18px;
	font-family: 'Do Hyeon', sans-serif;
	color: var(--SPACE_GREY);
	padding-left: 5px;
}

/* ----------
MENU
---------- */
#menu {
	display: table;
	margin-top: 10px;
}

#menu ul {
	list-style: none;
	padding: 0;
}

#menu li {
	float: left;
	margin-right: 10px;
}

#menu a:link, #menu a:visited {
	display: block;
	background: var(--SPACE_GREY_LIGHTER);
	text-decoration: none;
	color: white;
	font-family: 'Do Hyeon', sans-serif;
	font-weight: bold;
	font-size: 23px;
	padding: 10px;
	border-radius: 10px;
	border-bottom: solid 4px var(--DEEP_GREY);
}

#menu a:hover {
	background: var(--SPACE_GREY_LIGHTERER);
}

#menu img {
	height: 15px;
	width: 15px;
	padding-right: 10px;
}

#login a:visited, #login a:link{
	background: var(--LEAF_GREEN_DARKER);
}

#login a:hover {
	background: var(--LEAF_GREEN);
}

#logout a:visited, #logout a:link{
	background: rgb(220, 20, 60);
}

#logout a:hover {
	background: rgb(250, 50, 90);
}

.content {
	display: table;
	font-size: 18px;
	width: 100%;
	color: white;
	background: var(--SPACE_GREY_LIGHTER);
	border: solid 2px var(--SPACE_GREY_LIGHTERER);
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

/* ----------
DASHBOARD
---------- */
.value {
	font-weight: bold;
}

.tile {
	display: inline-block;
	background: rgb(230, 230, 230);
	border: solid 2px var(--SPACE_GREY_LIGHTERER);
	margin-top: 10px;
	margin-bottom: 10px;
	width: 15%;
	height: 350px;
}

.tile table {
	border-collapse: collapse;
	width: 100%;
}

.tile table thead {
	background: var(--tile-bg-color);
	font-size: 22px;
	color: rgb(230, 230, 230);
}

.tile th {
	padding: 5px;
}

.tile table tbody {
	padding-left: 10px;
}

.tile td {
	height: 30px;
	padding-left: 10px;
}

.userName {
	color: var(--LEAF_GREEN);
	font-weight: bold;
}

/* ----------
NUTRIENTS
---------- */
.nutrient {
	font-size: 15px;
	width: 30%;
	color: rgb(230, 230, 230);
	font-weight: bold;
}

.calories {
	background: rgb(91, 215, 91);
}

.proteins {
	background: rgb(178, 34, 34);
}

.fat {
	background: rgb(218, 165, 32);
}

.carbs {
	background: rgb(30, 144, 255);
}

/* ----------
TRAINING
---------- */

.training {
	background: var(--main-bg-color);
	margin-top: 20px;
	margin-bottom: 20px;
	border: solid 5px var(--LEAF_GREEN);
	border-collapse: collapse;
}

.training td {
	width: 80px;
}

.training th {
	background: var(--LEAF_GREEN);
}

.training .exo {
	text-align: center;
	background: white;
}

.training .exofield {
	width: 150px;
}

.training .title {
	background: rgb(200, 200, 200);
	font-size: 16px;
}

.training .exoName {
	color: var(--LEAF_GREEN);
	background: white;
	font-weight: bold;
}

.trainingLine:hover {
	background: rgb(80, 80, 80);
}

/*
** EXERCISES
*/

#exercises table {
	border: solid 2px var(--main-bg-color);
	border-collapse: collapse;
	background: white;
}

#exercises table th {
	color: white;
	text-align: left;
	background: var(--main-bg-color);
}

#exercises table .exoField {
	background: var(--SPACE_GREY_LIGHTER);
}

#exercises input {
	border: solid 3px var(--LEAF_GREEN_DARKER);
	background: var(--LEAF_GREEN);
}

#exercises table select {
	border: solid 3px var(--LEAF_GREEN_DARKER);
	background: var(--LEAF_GREEN);
}

/* ----------
BUTTON
---------- */

button.button, input.button {
	background: var(--LEAF_GREEN);
	color: white;
	border-radius: 10px;
	border-bottom: solid 3px var(--DEEP_GREY);
	padding: 5px;	
}

.button:visited, .button:link {
	background: var(--LEAF_GREEN_DARKER);
	color: white;
	border-radius: 10px;
	border-bottom: solid 3px var(--DEEP_GREY);
	padding: 5px;
	text-decoration: none;
}

.button:hover {
	background: var(--LEAF_GREEN);
	text-decoration: none;
}

.buttonDangerous:visited, .buttonDangerous:link {
	background: rgb(220, 20, 60);
	color: white;
	border-radius: 10px;
	border-bottom: solid 3px var(--DEEP_GREY);
	padding: 5px;
}

.buttonDangerous:hover {
	background: rgb(250, 50, 90);
	text-decoration: none;
}

/* ----------
LINKS
---------- */
a:link, a:visited {
	color: var(--LEAF_GREEN);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: var(--LEAF_GREEN_LIGHTER);
}

/* ----------
FOOTER
---------- */
footer {
	font-family: 'Do Hyeon', sans-serif;
	background: var(--LEAF_GREEN);
	border-radius: 10px;
	color: white;
	font-size: 18px;
	margin-top: 10px;
	text-align: center;
}