/*
COLOR CODES
LEAF GREEN	: rgba(0, 255, 153)
RAIN PURPLE	: rgba(160, 65, 255)
RED LIGHT: rgba(255, 102, 102)
BLUE TRELLO : rgba(0, 121, 191);
*/

body {
	background: rgb(50, 50, 50);
	font-family: 'Sen', sans-serif;
	font-size: 22px;
	color: black;
}

header {
	background: rgb(115, 213, 124);
}

form td {
	color: white;
}

/* ----------
TITLE
---------- */
#website_title:visited, #website_title:link {
	font-family: 'Libre Barcode 39 Text', 'Do Hyeon', sans-serif;
	font-size: 50px;
	padding-left: 10px;
	color: rgb(50, 50, 50);
	text-decoration: none;
}

/* ----------
SUBTITLE
---------- */
#subtitle {
	font-size: 18px;
	font-family: 'Do Hyeon', sans-serif;
	color: rgb(50, 50, 50);
	padding-left: 5px;
}

/* ----------
MENU
---------- */
#menu {
	display: table;
}

#menu ul {
	list-style: none;
	padding: 0;
}

#menu li {
	float: left;
}

#menu a:link, #menu a:visited {
	display: block;
	background: rgb(80, 80, 80);
	text-decoration: none;
	color: white;
	font-family: 'Do Hyeon', sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
	border-bottom: solid 5px white;
}

#menu a:hover {
	background: rgb(100, 100, 100);
}

#menu img {
	height: 15px;
	width: 15px;
	padding-right: 10px;
}

#login a:visited, #login a:link{
	background: rgb(95, 193, 104);
}

#login a:hover {
	background: rgb(115, 213, 124);
}

#logout a:visited, #logout a:link{
	background: rgb(220, 20, 60);
}

#logout a:hover {
	background: rgb(250, 50, 90);
}

.content {
	display: table;
	font-size: 18px;
	width: 100%;
	color: white;
	background: rgb(80, 80, 80);
	border: solid 2px rgb(100, 100, 100);
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* ----------
DASHBOARD
---------- */
.value {
	font-weight: bold;
}

.tile {
	display: inline-block;
	background: rgb(220, 220, 220);
	border: solid 2px rgb(100, 100, 100);
	margin-top: 20px;
	margin-bottom: 20px;
	width: 15%;
	height: 350px;
}

.tile table {
	border-collapse: collapse;
	width: 100%;
}

.tile table thead {
	background: rgb(80, 80, 80);
	font-size: 22px;
	color: white;
}

.tile th {
	padding: 5px;
}

.tile table tbody {
	padding-left: 10px;
}

.tile td {
	height: 30px;
	padding-left: 10px;
}

.tile tfoot td {
}

/* ----------
NUTRIENTS
---------- */
.calories {
	background: rgb(91, 215, 91);
}

.nutrient {
	font-size: 15px;
	width: 30%;
	color: white;
	font-weight: bold;
}

.proteins {
	background: rgb(178, 34, 34);
}

.fat {
	background: rgb(218, 165, 32);
}

.carbs {
	background: rgb(30, 144, 255);
}

/* ----------
TRAINING
---------- */

.training {
	background: rgb(50, 50, 50);
	margin-top: 20px;
	margin-bottom: 20px;
	border: solid 5px rgb(115, 213, 124);
	border-collapse: collapse;
}

.training td {
	width: 80px;
}

.training th {
	background: rgb(115, 213, 124);
}

.training .exo {
	text-align: center;
	background: white;
}

.training .exofield {
	width: 150px;
}

.training .title {
	background: rgb(200, 200, 200);
	font-size: 16px;
}

.training .exoName {
	color: rgb(115, 213, 124);
	background: white;
	font-weight: bold;
}

.trainingLine:hover {
	background: rgb(80, 80, 80);
}

/*
** EXERCISES
*/

#exercises table {
	border: solid 2px rgb(50, 50, 50);
	border-collapse: collapse;
	background: white;
}

#exercises table th {
	color: white;
	text-align: left;
	background: rgb(50, 50, 50);
}

#exercises table .exoField {
	background: rgb(80, 80, 80);
}

#exercises input {
	border: solid 3px rgb(95, 193, 104);
	background: rgb(115, 213, 124);
}

#exercises table select {
	border: solid 3px rgb(95, 193, 104);
	background: rgb(115, 213, 124);
}

.exercise {
	background: green;
}

/* ----------
BUTTON
---------- */

button.button, input.button {
	background: rgb(95, 193, 104);
	border: solid 2px rgb(75, 173, 84);
	color: white;
	border-radius: 10px;
	padding: 5px;	
}

.button:visited, .button:link {
	background: rgb(95, 193, 104);
	color: white;
	border-radius: 10px;
	padding: 5px;
	text-decoration: none;
}

.button:hover {
	background: rgb(115, 213, 124);
	text-decoration: none;
}

.buttonDangerous:visited, .buttonDangerous:link {
	background: rgb(220, 20, 60);
	color: white;
	border-radius: 10px;
	padding: 5px;
}

.buttonDangerous:hover {
	background: rgb(250, 50, 90);
	text-decoration: none;
}

/* ----------
LINKS
---------- */
a:link, a:visited {
	background: rgb(115, 213, 124);
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background: rgb(145, 243, 154);
}

/* ----------
FOOTER
---------- */
footer {
	font-family: 'Do Hyeon', sans-serif;
	background: rgb(95, 193, 104);
	border-radius: 10px;
	color: white;
	font-size: 18px;
	margin-top: 10px;
	text-align: center;
}